<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-US" dir="ltr"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
    Document Title
    =============================================
    -->
    <title>| MANI SHOP | 주방용품 </title>

    <!--
    Stylesheets
    =============================================
    -->
    <!-- Default stylesheets-->
    <link th:href="@{/lib/bootstrap/dist/css/bootstrap.min.css}"
          href="/static/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Template specific stylesheets-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet"/>
    <link th:href="@{/lib/animate.css/animate.css}"
          href="/static/lib/animate.css/animate.css" rel="stylesheet"/>
    <link th:href="@{/lib/components-font-awesome/css/font-awesome.min.css}"
          href="/static/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
    <link th:href="@{/lib/et-line-font/et-line-font.css}"
          href="/static/lib/et-line-font/et-line-font.css" rel="stylesheet"/>
    <link th:href="@{/lib/flexslider/flexslider.css}"
          href="/static/lib/flexslider/flexslider.css" rel="stylesheet"/>
    <link th:href="@{/lib/owl.carousel/dist/assets/owl.carousel.min.css}"
          href="/static/lib/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet"/>
    <link th:href="@{/lib/owl.carousel/dist/assets/owl.theme.default.min.css}"
          href="/static/lib/owl.carousel/dist/assets/owl.theme.default.min.css" rel="stylesheet"/>
    <link th:href="@{/lib/magnific-popup/dist/magnific-popup.css}"
          href="/static/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet"/>
    <link th:href="@{/lib/simple-text-rotator/simpletextrotator.css}"
          href="/static/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet"/>
    <!-- Main stylesheet and color file-->
    <link th:href="@{/css/style.css}"
          href="/static/css/style.css" rel="stylesheet">
    <link id="color-scheme" th:href="@{/css/colors/default.css}"
          href="/static/css/colors/default.css" rel="stylesheet"/>

    <!--
JavaScripts
=============================================
-->
    <script th:src="@{/lib/jquery/dist/jquery.js}"
            src="/static/lib/jquery/dist/jquery.js"></script>
    <script th:src="@{/lib/bootstrap/dist/js/bootstrap.min.js}"
            src="/static/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script th:src="@{/lib/wow/dist/wow.js}"
            src="/static/lib/wow/dist/wow.js"></script>
    <script th:src="@{/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js}"
            src="/static/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
    <script th:src="@{/lib/isotope/dist/isotope.pkgd.js}"
            src="/static/lib/isotope/dist/isotope.pkgd.js"></script>
    <script th:src="@{/lib/imagesloaded/imagesloaded.pkgd.js}"
            src="/static/lib/imagesloaded/imagesloaded.pkgd.js"></script>
    <script th:src="@{/lib/flexslider/jquery.flexslider.js}"
            src="/static/lib/flexslider/jquery.flexslider.js"></script>
    <script th:src="@{/lib/owl.carousel/dist/owl.carousel.min.js}"
            src="/static/lib/owl.carousel/dist/owl.carousel.min.js"></script>
    <script th:src="@{/lib/smoothscroll.js}"
            src="/static/lib/smoothscroll.js"></script>
    <script th:src="@{/lib/magnific-popup/dist/jquery.magnific-popup.js}"
            src="/static/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
    <script th:src="@{/lib/simple-text-rotator/jquery.simple-text-rotator.min.js}"
            src="/static/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
    <script th:src="@{/js/plugins.js}"
            src="/static/js/plugins.js"></script>
    <script th:src="@{/js/main.js}"
            src="/static/js/main.js"></script>

    <th:block layout:fragment="script"></th:block>
    <th:block layout:fragment="css"></th:block>

</head>


<body>

<header th:replace="fragments/header::header"></header>

<div layout:fragment="content" class="content"></div>

<footer th:replace="fragments/footer::footer"></footer>

</body>
</html>


